body {
    background-image: url("../img/marble-background.png");
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-size: 50px;
}

.game-pad {
    height: 200px;
    width: 200px;
    margin: 10px;
    border: 5px solid black;
    transition: border .5s;
    border-radius: .5em;
}

:hover.game-pad {
    border: 5px solid lightgray;
    transition: border .5s;
}

#green-pad {
    background-color: green;
}

.flash-light-green {
    -webkit-animation-name: flashLightGreen;
    -webkit-animation-duration: 1.5s;
}

@keyframes flashLightGreen {
    0% {background-color: green;}
    50% {background-color: lightGreen;}
    100% {background-color: green;}
}

#red-pad {
    background-color: red;
}

.flash-light-red {
    -webkit-animation-name: flashLightRed;
    -webkit-animation-duration: 1.5s;
}

@keyframes flashLightRed {
    0% {background-color: red;}
    50% {background-color: pink;}
    100% {background-color: red;}
}

#blue-pad {
    background-color: blue;
}

.flash-light-blue {
    -webkit-animation-name: flashLightBlue;
    -webkit-animation-duration: 1.5s;
}

@keyframes flashLightBlue {
    0% {background-color: blue;}
    50% {background-color: lightblue;}
    100% {background-color: blue;}
}

#yellow-pad {
    background-color: yellow;
}

.flash-light-yellow {
    -webkit-animation-name: flashLightYellow;
    -webkit-animation-duration: 1.5s;
}

@keyframes flashLightYellow {
    0% {background-color: yellow;}
    50% {background-color: #fffed6;}
    100% {background-color: yellow;}
}

#top-pads {
    display: flex;
}

#bottom-pads {
    display: flex;
}

#status-area {
    height: 25px;
}

#start-game {
    font-size: 25px;
    border: 2px solid black;
    border-radius: 5px;
}