#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-pad {
    height: 200px;
    width: 200px;
    margin: 10px;
    border: 2px solid black;
    border-radius: .5em;
}

#green-pad {
    background-color: green;
}

#red-pad {
    background-color: red;
}

#blue-pad {
    background-color: blue;
}

#yellow-pad {
    background-color: yellow;
}

#top-pads {
    display: flex;
}

#bottom-pads {
    display: flex;
}